.navbar{
    background-color: #f8f9fa;
    border-bottom: 1px solid #e3e6f0;
    padding: 0.5rem 1rem;
}
.ul-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}