body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    grid-template-areas: "sidebar main";
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 15px 15px 0px 20px;
}

.w-full {
    width: 100%;
}

.carrinho {
    max-width: 25px;
    padding: 0.3rem;
    margin-bottom: 1rem;
    transition: background-color 0.3s;
}

.carrinho:hover {
    background-color: #92e3a9;
    border-radius: 5px;
}

.footer-sidebar {
    display: grid;
    align-items: end;

}

.main {
    overflow: auto;
    grid-area: main;
    background-color: #92e3a9;
    padding: 20px;
}

.menu-item {
    margin-bottom: 10px;
}

.menu-item a {
    color: #333333;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-item a:hover {
    background-color: #92e3a9;
}

.active {
    background-color: #92e3a9;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
}

.card {
    background-color: #f8f9fa;
    max-width: 15rem;
    min-height: 22rem;
    padding: .5rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card-image img {
    max-width: 240px;
    max-height: 200px;
    border-radius: 5px;
    object-fit: contain;
}

.card:hover {
    transform: translateY(-1px);
}

.card-footer {
    display: grid;
    align-items: end;
    width: 100%;
    height: 100%;
}

.card-footer button {
    background-color: rgb(255, 196, 35);
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-footer button:hover {
    background-color: rgb(255, 196, 35, 0.8);
}

.align-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .8rem;
}

.card-content {
    height: 100%;
    display: grid;
    place-items: center;
}

.card h3 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
}

.description {
    color: rgb(85 85 85 / 1);
    ;
    margin: 0;
}

.price {
    font-weight: 900;
    font-size: 20px;
    color: #000;
    margin: 0;
}

.modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background: #fff;
    border-radius: 10px;
}

.modal-header,
.modal-footer {
    padding: 10px 20px;
    background: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.modal-body {
    padding: 20px;
}

.btn-close {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: #000;
    opacity: 0.5;
    border: none;
    background: transparent;
}

.btn-close:hover {
    opacity: 1;
}

.btn {
    padding: 8px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn:hover {
    opacity: 0.8;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
}

.carrinho {
    position: relative;
    display: inline-block;
}

.item-quantidade {
    position: absolute;
    top: 15px;
    right: -18px;
    background-color: rgb(255, 196, 35);
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.filter input {
    padding: .6rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.image-input {
    display: grid;
}

.image-input img {
    max-width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    object-fit: contain;

}

@media screen and (max-width: 790px) {
    .card {
        max-width: 100%;
    }

}